body {
	background: #293e6a url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSdhgRDzXJ9lXkYWTWgCmfN3cjVdff3AQZnDDAiIwlEOeBK2d1HJw");
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.page_primary_action {
margin-bottom: 20px;
padding-bottom: 20px;
}

.media-grid {
	margin: 0 0;
}

.row1 {
	min-height: 200px;
}
.btn-primary {
	float:right;
}
.homepage.layout-1 .row1 .col2 {
	position: absolute;
	top: 0;
	right: 0;
}

.account-masthead {
	background: #003058;
}

.media-item {
	position: relative;
	float: left;
	height: 170px;
	width: 170px;
	padding: 15px;
	margin: 10px 0 0 18px;
	background-color: white;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.masthead {
	background: #003058 url("../../../base/images/bg.png");
}

.masthead a {
	color: #ccdee3;
}

footer.site-footer {
	background: #003058 url("../../../base/images/bg.png");
	height: 20px;
	min-height: 20px;
}

.site-footer a {
	color: #ccdee3;
}

.homepage .module-search .module-content {
	background-color: #003058;
}

.attribution strong, .site-footer label {
	color: #ccdee3;
}

.attribution p {
	float: right;
}

.homepage .module-search {
	margin-top: 0;
}

.homepage .module-search .tags {
	background-color: #003058;
}

.hero {
	background: #ddd;
	min-height: 400px;
}

.masthead .navigation .nav-pills li a:hover, .masthead .navigation .nav-pills li.active a {
	color: #fff;
	background: #00346f;
}

.account-masthead .account ul li a {
	color: #ddd;
}

