

<h2>Open Data License – CivicInfo BC</h2>

<p>This license is based on Version 2 of the Open Government License - British Columbia (data.gov.bc.ca), which was developed through public consultation and a collaborative effort by the provincial and federal government.</p>

<p>Datasets originating with the CivicInfo BC Society (the “Information Provider”) are subject to the terms and conditions of this license.</p>

<p>Datasets originating with local governments and other public sector bodies (“Information Partners”) may be subject to the terms and conditions of this license, if the Information Partner has chosen to use this license as its own. The ownership of all Information provided by Information Partners resides with each organization, and not with the CivicInfo BC Society.</p>

<p>Some Information Partners may have provided information that is subject to terms and conditions that differ from the CivicInfo BC Society’s license.  Whenever such information has been provided, the Information Partner’s license is wholly applicable to any use of the information, and to the extent there is any conflict between the Information Partner’s license and this license, the terms and conditions of the Information Partner’s license will prevail.  The applicable license is noted and hyperlinked on each dataset.</p>

<p><strong>Using Information under this license</strong></p>

<p>1  Use of any Information indicates your acceptance of the terms below.</p>

<p>2  The Information Provider grants you a worldwide, royalty-free, perpetual, non-exclusive license to use the Information, including for commercial purposes, subject to the terms below.</p>

<p><strong>You are free to:</strong></p>

<p>3  Copy, modify, publish, translate, adapt, distribute or otherwise use the Information in any medium, mode or format for any lawful purpose.</p>

<p><strong>You must, where you do any of the above:</strong></p>

<p>4  Acknowledge the source of the Information by including any attribution statement specified by the Information Provider(s) and, where possible, provide a link to this license.</p>

<p>If the Information Provider does not provide a specific attribution statement, or if you are using Information from several Information Providers and multiple attributions are not practical for your product or application, you must use the following attribution statement:</p>

<p>Contains information licensed under the Open Data License – CivicInfo BC.</p>

<p>Or you must include a similar statement that gives attribution to the applicable license of an Information Partner.</p>

<p>5  The terms of this license are important, and if you fail to comply with any of them, the rights granted to you under this license, or any similar license granted by the Information Provider, will end automatically.</p>

<p><strong>Exemptions</strong></p>

<p>6  This license does not grant you any right to use:</p>

<p>a) Personal Information;
b) Information or Records not accessible under the Freedom of Information and Protection of Privacy Act (B.C.);
c) third party rights the Information Provider is not authorized to license;
d) the names, crests, logos, or other official marks of the Information Provider; and
e) Information subject to other intellectual property rights, including patents, trade-marks and official marks.</p>

<p><strong>Non-endorsement</strong></p>

<p>7  This license does not grant you any right to use the Information in a way that suggests any official status or that the Information Provider endorses you or your use of the Information.</p>

<p><strong>No warranty</strong></p>

<p>8  The Information is licensed “as is”, and the Information Provider excludes all representations, warranties, obligations, and liabilities, whether express or implied, to the maximum extent permitted by law.</p>

<p>9  The Information Provider is not liable for any errors or omissions in the Information, and will not under any circumstances be liable for any direct, indirect, special, incidental, consequential, or other loss, injury or damage caused by its use or otherwise arising in connection with this license or the Information, even if specifically advised of the possibility of such loss, injury or damage.</p>

<p><strong>Governing Law</strong></p>

<p>10  This license is governed by the laws of the province of British Columbia and the applicable laws of Canada.</p>

<p>11  Legal proceedings related to this license may only be brought in the courts of British Columbia.</p>

<p><strong>Definitions</strong></p>

<p>12  In this license, the terms below have the following meanings:</p>

<p><strong>"Information"</strong>
means information resources or Records protected by copyright or other information or Records that is are offered for use under the terms of this license.</p>

<p><strong>"Information Partner"</strong>
means any local government or public sector body that has contributed information to CivicInfo BC’s British Columbia Local Government Open Data Catalogue.</p>

<p><strong>"Information Provider"</strong>
means the CivicInfo BC Society.</p>

<p><strong>“Personal Information”</strong>
has the meaning set out in Schedule 1 of the Freedom of Information and Protection of Privacy Act (B.C.).</p>

<p><strong>“Records”</strong>
has the meaning set out in section 29 of the Interpretation Act (B.C.).</p>

<p><strong>"You"</strong>
means the natural or legal person, or body of persons corporate or incorporate, acquiring rights under this license.</p>

<p><strong>Versioning</strong></p>

<p>13  This is version 2.0 of the license for the British Columbia Local Government Open Data Catalogue. The Information Provider may make changes to the terms of this license from time to time and issue a new version of the license. Your use of the Information will be governed by the terms of the license in force as of the date you accessed the Information.</p>
