<div role="main" class="hero">

 <div class="container">
<div class="wrapper no-nav">
<div class="image-header" style ="background-image:url('http://www.emisofttech.com/images/erp_solution-banner.jpg');height:205px; background-size:100%;">
</div>
<div role="main">
  <div class="container">
	<div class="row row1">
<div class="span11 col1">
<h3> Contributors </h3>
  {% snippet "organization/snippets/homepage_organization_list.html", organizations=h.get_orgs() %}
</div>
</div>

	<div class="row row2">
	<div class="span5 col1">


         <h3> Featured </h3>
	 {% block featured_group %}
	  {% set data = h.get_popular_datasets() %}

          {% snippet 'home/snippets/featured.html', featured = h.get_featured()[0] %}
        {% endblock %}
        {% block featured_organization %}
          {% snippet 'home/snippets/featured.html', featured = h.get_featured()[1] %}
        {% endblock %}
	</div>
      <div class="span6 col2">

	<h3> Subjects </h3>
	{% snippet "home/snippets/homepage_group_list.html", groups=h.get_groups() %}
	</div>
	</div>
	</div>
    </div>
  </div>
</div>
