<div role="main" class="hero">
<img src ="http://upload.wikimedia.org/wikipedia/commons/b/b3/Campania_banner_View_from_Capri.jpg" />

 <div class="container">

<div class="wrapper no-nav">

 <div class="row row1">
<div class="col1">
<h3> Contributors </h3>
  {% snippet "organization/snippets/organization_list.html", organizations=h.get_orgs() %}
</div>
</div>
<div role="main">
  <div class="container">
	<div class="row row1">
	<div class="span5 col1">


         <h3> Featured </h3>
	 {% block featured_group %}
          {% snippet 'home/snippets/featured.html', featured = h.get_featured()[0] %}
        {% endblock %}
        {% block featured_organization %}
          {% snippet 'home/snippets/featured.html', featured = h.get_featured()[1] %}
        {% endblock %}
	</div>
      <div class="span6 col2">

	<h3> Subjects </h3>
	{% snippet "group/snippets/group_list.html", groups=h.get_groups() %}
	</div>
	</div>
	</div>
    </div>
  </div>
</div>
